<h2 class="title">Hola, {{userName}}</h2>

<div class="dashboard-cards">

  <div class="card">
    <div class="icon gray">📄</div>
    <p>Total Tareas</p>
    <h3>{{stats.totalTasks}}</h3>
  </div>

  <div class="card">
    <div class="icon green">✔</div>
    <p>Completadas</p>
    <h3>{{stats.completedTasks}}</h3>
  </div>

  <div class="card">
    <div class="icon blue">⏳</div>
    <p>En curso</p>
    <h3>{{stats.inProgressTasks}}</h3>
  </div>

  <div class="card">
    <div class="icon red">⚠</div>
    <p>Atrasadas</p>
    <h3>{{stats.lateTasks}}</h3>
  </div>

</div>