.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:white;
border-bottom:1px solid #eee;
}

.search{
width:350px;
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

.icons{
display:flex;
gap:15px;
}